# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installers
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
*.py[cod]

# My libraries (exclude site-packages)
Lib/site-packages/

# Add torch and any other library you wish to exclude
Lib/site-packages/torch/
Lib/site-packages/youtube_transcript_api/
Lib/site-packages/some_other_lib/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
ENV/
env/
venv/
venv.bak/
env.bak/

# VSCode files
.vscode/
.history/

# OS-specific files
Thumbs.db
.DS_Store

# Editor backups
*~
