# Line.
* text=auto

# Text.
*.sh text eol=lf
*.bat text eol=crlf

# Binaries.
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.mp4 binary
*.exe binary
*.dll binary
*.bin binary

# Databases.
*.sqlite3 binary
*.db binary
*.tar binary
*.gz binary