*{padding: 0; margin: 0; box-sizing: border-box;}

#container {
    max-width: 960px;
    min-width: 500px;
    background-color: rgb(61, 18, 234)e;
    margin: 5px auto;
}


/* DO NOT MAKE ANY CHANGES TO THE ABOVE CODE. ADD YOUR CODE BELOW THIS COMMENT LINE */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  form {
     font-size: clamp(16px, 4vw, 24px); 
     display: flex; flex-direction: column; 
     align-items: center; } 

  input[type="text"], input[type="submit"] {
       font-size: inherit; 
       padding: 0.5em;
       margin: 5px;
       transition: transform 0.3s,
       font-size 0.3s; 
        }

